
.icon-flight:before { content: '\e800'; } /* '' */
.icon-info:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-adult:before { content: '\e804'; } /* '' */
.icon-down-open:before { content: '\e805'; } /* '' */
.icon-umbrella:before { content: '\e806'; } /* '' */
.icon-sun-filled:before { content: '\e807'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-fighter-jet:before { content: '\f0fb'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-language:before { content: '\f1ab'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */