html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-10px);
  }
}
.header {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border-bottom: 1px solid lightgrey;
  box-shadow: 0 0 10px lightgrey;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.header .menu-desktop {
  display: none;
}
.header .menu-desktop-settings {
  display: none;
}
.header input[type=checkbox] {
  display: none;
}
.header .menu {
  width: 100%;
  display: inline-block;
}
.header .menu #menu {
  display: none;
}
.header .menu .menu-icon {
  font-size: 20px;
  display: inline-block;
  padding-top: 15px;
}
.header .menu .scroll-menu {
  padding: 20px;
  transform: translateX(-100%);
  width: 100%;
}
.header .menu .scroll-menu .menu-settings {
  width: 100%;
}
.header .menu .scroll-menu .menu-settings .menu-settings-options {
  display: inline-block;
  width: 50%;
  text-align: center;
  padding-bottom: 20px;
}
.header .menu .scroll-menu .menu-settings .scroll-menu-icon {
  font-size: 18px;
  color: #333;
}
.header .menu .scroll-menu .menu-settings .menu-settings-text {
  color: #333;
  font-size: 14px;
  font-family: "Noto Sans TC", sans-serif;
}
.header .menu .scroll-menu .search {
  width: 100%;
  background-image: url("img/search.png");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 35px;
  height: 46px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  border: 1px solid lightgrey;
  margin-bottom: 20px;
}
.header .menu .scroll-menu .others {
  display: flex;
  flex-direction: column;
}
.header .menu .scroll-menu .others .others-item {
  padding-top: 15px;
  height: 50px;
  border-top: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
}
.header .menu .scroll-menu .others .others-item .other-item-text {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #333;
}
.header .menu .scroll-menu .others .others-item .icon-others {
  font-size: 16px;
}
.header .menu .scroll-menu .others .last-others-item {
  border-bottom: 1px solid lightgrey;
}
.header .menu .scroll-menu .others .others-item-more {
  display: none;
}
.header .menu .scroll-menu .others .others-item-more .others-item-more-link {
  display: block;
  font-family: "Noto Sans TC", sans-serif;
  color: #7c736c;
  padding-top: 5px;
  padding-bottom: 20px;
}
.header .menu .scroll-menu .others input[type=checkbox]:checked + .others-item-more {
  display: block;
}
.header .menu .scroll-menu .others #explore:checked + .last-others-item {
  border-bottom: none;
}
.header .menu .scroll-menu .others #explore:checked ~ .others-item-more-last {
  display: block;
  border-bottom: 1px solid lightgrey;
}
.header .menu #menu:checked ~ .scroll-menu {
  display: block;
  height: calc(100vh - 50px);
  width: 80%;
  background-color: white;
  position: absolute;
  top: 50px;
  z-index: 2;
  animation: scroll 0.2s linear;
  animation-fill-mode: forwards;
  transform: translateX(-10px);
}
.header .hat-img {
  padding-top: 12px;
}
.header .hat-img .logo {
  display: inline-block;
  float: right;
  padding-right: 15px;
  width: 104px;
}

@media (min-width: 635px) {
  .header {
    height: 90px;
    display: flex;
    justify-content: start;
  }
  .header .menu {
    display: none;
  }
  .header .hat-img {
    padding: 0;
    margin: 0;
    padding-left: 10px;
    height: 90px;
    display: inline-flex;
    align-items: center;
    width: 150px;
  }
  .header .hat-img .logo {
    width: 140px;
  }
  .header .menu-desktop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
  }
  .header .menu-desktop .menu-title {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 22px;
    color: #333;
    font-family: "Noto Sans TC", sans-serif;
  }
  .header .menu-desktop .menu-title:hover {
    color: #ad0000;
  }
  .header .menu-desktop-settings {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
  }
  .header .menu-desktop-settings .menu-desktop-settings-icon {
    cursor: pointer;
  }
  .header .menu-desktop-settings .menu-desktop-search {
    display: none;
    background-color: white;
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 0px;
    width: 80%;
    margin: 0 10%;
    height: auto;
  }
  .header .menu-desktop-settings #check-search:checked ~ .menu-desktop-search {
    display: block;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
  }
  .header .menu-desktop-settings #check-search:checked ~ .menu-desktop-search .menu-desktop-search-input {
    height: 30px;
    width: 90%;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    outline: none;
    border: none;
    padding-left: 25px;
    background-image: url("img/search.png");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: left center;
  }
  .header .menu-desktop-settings #check-search:checked ~ .menu-desktop-search .quick-links {
    padding: 40px;
  }
  .header .menu-desktop-settings #check-search:checked ~ .menu-desktop-search .quick-links .ql-header {
    cursor: pointer;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #333;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    font-weight: bold;
  }
  .header .menu-desktop-settings #check-search:checked ~ .menu-desktop-search .quick-links .ql-title {
    cursor: pointer;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #666;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    padding-top: 0;
    padding-bottom: 6px;
  }
  .header .menu-desktop-settings #check-search:checked ~ .menu-desktop-search .quick-links .ql-title:hover {
    color: #ad0000;
  }
  .header .menu-desktop-settings .menu-desktop-settings-icon {
    padding-left: 5px;
    padding-right: 5px;
    color: #333;
    font-size: 18px;
  }
}
@media (min-width: 1050px) {
  .header .menu-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
  }
  .header .menu-desktop .menu-title {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header .menu-desktop-settings {
    display: inline-block;
    float: right;
    text-align: center;
    padding-top: 35px;
  }
}
.main {
  background-color: #f2f2f2;
  width: 100%;
}
.main input[type=checkbox] {
  display: none;
}
.main .home {
  display: block;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  color: #333;
  padding: 15px 15px 15px 20px;
}
.main .home:hover {
  color: #c00;
}
.main .destination {
  display: block;
  padding: 20px;
}
.main .destination .destination__header {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 28px;
  color: #c00;
  font-weight: 700;
}
.main .destination .destination__headline {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  color: #333;
  padding-top: 14px;
  line-height: 1.1;
}
.main .destination .destination__textline {
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  color: #666;
}
.main .teaser {
  text-align: center;
  padding-bottom: 40px;
}
.main .teaser .teaser-box {
  background-color: #fafafa;
  width: 140px;
  height: 140px;
  display: inline-block;
  margin: 7px;
  position: relative;
  transition: all 0.4s ease-in-out;
}
.main .teaser .teaser-box:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: rotate(-3deg);
}
.main .teaser .teaser-box:hover .teaser-box__upper {
  transform: rotate(6deg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.main .teaser .teaser-box .teaser-box__upper {
  background-color: white;
  transition: all 0.4s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  top: 0;
  left: 0;
  display: inline-block;
}
.main .teaser .teaser-box .teaser-box__upper .teaser-box__image--small {
  display: none;
}
.main .teaser .teaser-box .teaser-box__upper .teaser-box__image--big {
  display: block;
  width: 100%;
}
.main .teaser .teaser-box .teaser-box__upper .teaser-box__header {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  color: #666;
  text-align: center;
  padding-top: 15px;
  font-weight: 700;
}
.main .teaser .teaser-box .teaser-box__upper .teaser-box__headline {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 12px;
  color: #999;
  text-align: center;
  padding-top: 5px;
}
.main .main-navigation {
  width: 100%;
  background-color: white;
}
.main .main-navigation .main-navigation__line {
  margin-top: 40px;
  border-bottom: 1px solid lightgrey;
}
.main .main-navigation .main-navigation__list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}
.main .main-navigation .main-navigation__list .main-navigation__item {
  height: 40px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
}
.main .main-navigation .main-navigation__list .main-navigation__text {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 12px;
  line-height: 40px;
  font-weight: 700;
  color: #333;
  width: 90%;
}
.main .main-navigation .main-navigation__list .main-navigation__icon {
  font-size: 16px;
  line-height: 40px;
  color: #c00;
}
.main .main-navigation .main-navigation__list .main-navigation__other {
  display: none;
}
.main .main-navigation .main-navigation__list .main-navigation__other .main-navigation__other-link {
  display: block;
  font-family: "Noto Sans TC", sans-serif;
  color: #666;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}
.main .main-navigation .main-navigation__list .main-navigation__other .main-navigation__other-link:hover {
  color: #ad0000;
  background-color: #eee;
}
.main .main-navigation .main-navigation__list input[type=checkbox]:checked + .main-navigation__other {
  display: block;
}
.main .main-navigation .social {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 15px;
}
.main .main-navigation .social .social-icon {
  color: #333;
  font-weight: 100;
  border-radius: 50px;
  font-size: 20px;
  padding: 5px;
  width: 20px;
  height: 20px;
}
.main .main-navigation .social .social-icon:hover {
  background-color: #eee;
}

@media (min-width: 635px) {
  .main .destination {
    width: 65%;
  }
  .main .teaser .teaser-box {
    width: 230px;
    height: 270px;
  }
  .main .teaser .teaser-box .teaser-box__upper .teaser-box__image--small {
    display: inline-block;
    width: 22.5%;
    margin-right: 4px;
    padding-top: 4px;
  }
  .main .teaser .teaser-box .teaser-box__upper .teaser-box__image--small-first {
    margin-left: 4px;
  }
  .main .main-navigation {
    width: 100%;
  }
  .main .main-navigation .main-navigation__list {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .main .main-navigation .main-navigation__list .main-navigation__item-section {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .main .main-navigation .main-navigation__list .main-navigation__item-section .main-navigation__icon {
    display: none;
  }
  .main .main-navigation .main-navigation__list .main-navigation__item-section .main-navigation__other {
    width: 100%;
    display: inline-block;
  }
  .main .main-navigation .main-navigation__list .main-navigation__item-section .main-navigation__other .main-navigation__other-link {
    font-family: "Noto Sans TC", sans-serif;
    color: #666;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
  }
}
.footer {
  width: 100%;
  height: 160px;
  background-color: #f2f2f2;
}
.footer .footer-logo {
  display: block;
  height: 37px;
  width: 75px;
  margin: 0 auto;
  padding-top: 20px;
}
.footer .footer-logo:hover {
  opacity: 0.5;
}
.footer .fool-name {
  text-align: center;
  display: block;
  height: 26px;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 12px;
  color: #6f6660;
  margin-top: 10px;
}
.footer .footer-links {
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .footer-links .footer-link {
  text-align: center;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 12px;
  color: #6f6660;
  margin-right: 10px;
  margin-left: 10px;
}
.footer .footer-links .footer-link:hover {
  color: #ad0000;
}

/*# sourceMappingURL=style2.css.map */
