body{
	margin: 0;
}

header{
	background-color: #e0be7e;

}

.myPhoto{
	width: 100%;
	display: flex;
	justify-content: center;
}

.photo{
	width: 70%;
	padding: 5px;
	margin-top: 20px;
	border-radius: 100%;
}

.name{
	font-family: 'Neucha', cursive;
	font-size: 50px;
	text-align: center;
	font-weight: 700;
}

.profession{
	font-family: 'Philosopher', sans-serif;
	font-size: 27px;
	text-align: center;
	padding-bottom: 30px;
}

.bt{
	display: flex;
	justify-content: center;
}

.contacts{
	font-family: 'Philosopher', sans-serif;
	font-size: 25px;
	padding: 5px;
	border: 1.5px solid black;
	margin-bottom: 20px;
}

.info{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding-bottom: 20px;
}

.info-p{
	font-family: 'Philosopher', sans-serif;
	font-size: 18px;
	color: black;
	text-decoration: none;
	
}

.info-p:hover{
	color: #7a5200;
}

.bigBl{
	padding-top: 30px;
	width: 100%;

}

.topic{
	background-color: #e0be7e;
	color: white;
	font-family: 'Philosopher', sans-serif;
	font-size: 27px;
	text-align: center;
	font-weight: bold;
	width: 70%;
	margin-left: 15%;
	height: 40px;
	line-height: 40px;
}

.txtDate{
	padding: 17px 10px 10px 10px;
	font-family: 'Philosopher', sans-serif;
	font-size: 20px;
}

.txt{
	padding: 0 10px 0 20px;
	font-family: 'Philosopher', sans-serif;
	font-size: 20px;
}

.txtSk{
	padding: 0 10px 0 10px;
	font-family: 'Philosopher', sans-serif;
	font-size: 20px;
	display: block;
}

.first{
	padding-top: 17px;
}

.txtLi{
	padding: 17px 10px 0 10px;
	font-family: 'Philosopher', sans-serif;
	font-size: 20px;
	display: block;
	color: black;
	text-decoration: none;
}

.txtLi:hover{
	color: #7a5200;
}

@media(min-width: 666px){

	body{
		width: 100%;
		display: flex;
	}

	header{
		width: 40%;
		height: 100%;
		display: inline-block;
		margin: auto;
		position: fixed;
	}

	main{
		margin-left: 40%;
		width: 60%;
		display: inline-block;
	}

	.myPhoto{
		margin-top: 20%;
	}

	.topic{
		width: 80%;
		margin-right: 10%;
		margin-left: 10%;
	}

	.bigBl{
		padding-bottom: 20px;
	}

}

@media(min-width: 1100px){

	body{
		max-width: 1100px;
		margin-right: auto;
		margin-left: auto;
		border-left: 1px solid black;
		border-right: 1px solid black;
	}

	header{
		width: 400px;
	}

	main{
		width: 700px;
	}

	.topic{
		width: 500px;
	}
}