$border-lightgrey: lightgrey;
$main-darkgrey: #333;
$background-white: white;
$main-red: #c00;
$main-grey: #666;
$hover-red: #ad0000;
$background-grey: #f2f2f2;
$grey-text: #7c736c;
$hover-grey: #eee;
$footer-text-grey: #6f6660;
$back-teaser-grey: #fafafa;
$teaser-headline-grey: #999;
